.content{
    width: 80%;
    display: flex;
    justify-content: center;
}

.rightDashboard{
    width: 90%;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

